{% extends 'base.html' %}
{% load static %}
{% block title %} Devices {% endblock%}


{% block content %}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    {% include 'greetings.html' with name="Device" link="/addDevice"%}
                    {% include 'alert.html' %}
                    {% include 'info.html' with page="Device" %}
                    
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Devices</h4>
                                    <div class="flex-shrink-0">
                                        <button type="button" class="btn btn-soft-info btn-sm material-shadow-none">
                                            <i class="ri-file-list-3-line align-middle"></i> Generate Report
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                            <thead class="text-muted table-light">
                                                <tr>
                                                    <th scope="col">Device ID</th>
                                                    <th scope="col">Device name</th>
                                                    <th scope="col">Serial Number</th>
                                                    <th scope="col">Brand</th>
                                                    <th scope="col">Model</th>
                                                    <th scope="col">Assigned</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for device in devices %}
                                                <tr>
                                                    <td>
                                                        <a href="#" class="fw-medium link-primary">{{ device.id }}</a>
                                                    </td>
                                                    
                                                    <td>{{ device.device_name }}</td>
                                                    <td>
                                                        <span class="text-success">{{ device.serialnumber }}</span>
                                                    </td>
                                                    <td>{{ device.brand }}</td>
                                                    <td>{{ device.model }}</td>
                                                    <td>
                                                        {% if device.get_assignment_status %}
                                                        <span class="badge bg-success-subtle text-success text-uppercase">Assigned</span></td>
                                                        {% else %}

                                                        <span class="badge bg-danger-subtle text-danger text-uppercase">Unassigned</span></td>

                                                        {% endif%}
                                                        <td>{{ device.status }}</td>

                                                    <td>
                                                    

                                                        <a href="{% url 'editDevice' device.id %}" class="btn btn-soft-info btn-sm material-shadow-none">
                                                            <i class="ri-file-list-3-line align-middle"></i> Edit
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-soft-danger btn-sm material-shadow-none">
                                                            <i class="ri-file-list-3-line align-middle"></i> Delete
                                                        </button>
                                                </tr><!-- end tr -->

                                                {% endfor %}
                                                
                                            </tbody><!-- end tbody -->
                                        </table><!-- end table -->
                                    </div>
                                </div>
                            </div> <!-- .card-->
                        </div> <!-- .col-->
                    </div> <!-- end row-->

                </div> <!-- end .h-100-->

            </div> <!-- end col -->

            
        </div>

    </div>
    <!-- container-fluid -->

{% endblock %}

