<!DOCTYPE html>
<html
  lang="en"
  data-layout="vertical"
  data-topbar="light"
  data-sidebar="dark"
  data-sidebar-size="lg"
  data-sidebar-image="none"
  data-preloader="disable"
  data-theme="default"
  data-theme-colors="default"
>
  <head>
    <meta charset="utf-8" />
    <title>Face Recognition | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
    />

    <!-- plugin css -->
    <link
      href="{{ url_for('static', filename='assets/libs/jsvectormap/css/jsvectormap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Layout config Js -->
    <script src="assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link
      href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link
      href="{{ url_for('static', filename='assets/css/icons.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App Css-->
    <link
      href="{{ url_for('static', filename='assets/css/app.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- custom Css-->
    <link
      href="{{ url_for('static', filename='assets/css/custom.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
      #loading {
        display: none;
        /* Add some styles for the loading container */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
          255,
          255,
          255,
          0.7
        ); /* Semi-transparent white background */
        z-index: 9999; /* Ensure the loading container is on top */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .spinner {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body>
    <!-- Begin page -->
    <div id="layout-wrapper">
      {% include 'navbar.html' %} {% include 'sidebar.html' %}

      <!-- Left Sidebar End -->
      <!-- Vertical Overlay-->
      <div class="vertical-overlay"></div>

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent"
                >
                  <h4 class="mb-sm-0">Face Recognition</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Dashboards</a>
                      </li>
                      <li class="breadcrumb-item active">Face Recognition</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>

            <div id="loading" style="display: none">
              <div class="spinner"></div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %}

            <div
              class="alert alert-{{ category }} alert-dismissible alert-label-icon rounded-label fade show material-shadow"
              role="alert"
            >
              <i class="ri-notification-off-line label-icon"></i
              ><strong>{{ category }}</strong> - {{ message }}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>

            {% endfor %} {% endif %} {% endwith %}

            <div class="row">
              <div class="col-xxl-12">
                <div class="d-flex flex-column h-100">
                  <div class="row h-100">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="row align-items-end">
                            <div class="col-sm-8">
                              <div class="p-3">
                                <p class="fs-16 lh-base">
                                  {{totalreg}}
                                  <span class="fw-semibold"> Students </span
                                  >Registered
                                  <i class="mdi mdi-arrow-right"></i>
                                </p>
                                <div class="mt-3">
                                  <a href="/students" class="btn btn-success"
                                    >Students</a
                                  >

                                  <a
                                    href="/showattendance"
                                    class="btn btn-success"
                                    >Attendance</a
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="px-3">
                                <img
                                  src="{{ url_for('static', filename='assets/images/user-illustarator-2.png') }}"
                                  class="img-fluid"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end card-body-->
                      </div>
                    </div>
                    <!-- end col-->
                  </div>
                  <!-- end row-->

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header align-items-center d-flex">
                          <h4 class="card-title mb-0 flex-grow-1">
                            Take Attendance
                          </h4>
                        </div>
                        <!-- end card header -->

                        <div class="card-body">
                          <form id="attendanceForm"  action="/start"  method="POST">
                            <div class="col-md-12">
                              <label for="basiInput" class="form-label"
                                >Select Course</label
                              >
                              <div class="col-lg-12">
                                <select
                                  class="form-select rounded-pill mb-3"
                                  name="course"
                                  aria-label="Default select example"
                                >
                                  {% for course in courses %} {% if course [0]
                                  is not none %} {% if course[0] ==
                                  selected_course %}
                                  <option value="{{ course[0] }}" selected>
                                    {{course[1]}} - {{course[0] }}
                                  </option>
                                  {% else %}
                                  <option value="{{ course[0] }}">
                                    {{course[1]}} - {{ course[0] }}
                                  </option>
                                  {% endif %} {% endif %} {% endfor %}
                                </select>
                              </div>
                            </div>
                            <br />
                            <button
                              id="takeAttendanceBtn"
                              type="submit"
                              class="btn btn-outline-success waves-effect waves-light material-shadow-none"
                            >
                              Take Attendance
                            </button>
                          </form>

                          <div id="loading" style="display: none">
                            Loading...
                          </div>

                          <div class="d-none code-view"></div>
                        </div>
                        <!--end card-body-->
                      </div>
                      <!--end card-->
                    </div>
                    <!-- end col -->

                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header align-items-center d-flex">
                          <h4 class="card-title mb-0 flex-grow-1">
                            Add Students
                          </h4>
                        </div>

                        <div class="card-body">
                          <form action="/add" method="POST">
                            <div class="col-xxl-12 col-md-12">
                              <div>
                                <label
                                  for="exampleInputStudentID"
                                  class="form-label"
                                  >Student ID</label
                                >
                                <input
                                  type="text"
                                  class="form-control rounded-pill"
                                  id="exampleInputStudentID"
                                  placeholder="Enter Student ID"
                                  name="newuserid"
                                  required
                                />
                              </div>
                            </div>
                            <br />

                            <div class="col-xxl-12 col-md-12">
                              <div>
                                <label for="exampleInputName" class="form-label"
                                  >Name</label
                                >
                                <input
                                  type="text"
                                  class="form-control rounded-pill"
                                  id="exampleInputName"
                                  placeholder="Enter Student Name"
                                  name="newusername"
                                  required
                                />
                              </div>
                            </div>
                            <br />
                            <div class="col-xxl-12 col-md-12">
                              <div>
                                <label for="exampleInputName" class="form-label"
                                  >Email</label
                                >
                                <input
                                  type="email"
                                  class="form-control rounded-pill"
                                  id="exampleInputName"
                                  placeholder="Enter Student email"
                                  name="email"
                                  required
                                />
                              </div>
                            </div>

                            <br />

                            <button
                              type="submit"
                              class="btn btn-success btn-label rounded-pill"
                            >
                              <i
                                class="ri-check-double-line label-icon align-middle rounded-pill fs-16 me-2"
                              ></i
                              >Register
                            </button>
                          </form>

                          <div class="d-none code-view"></div>
                        </div>
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                </div>
              </div>
              <!-- end col-->
            </div>
            <!-- end row-->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include "footer.html" %}
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>

    <!-- apexcharts -->
    <script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>

    <!-- Vector map-->
    <script src="{{ url_for('static', filename='assets/libs/jsvectormap/js/jsvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/jsvectormap/maps/world-merc.js') }}"></script>

    <!-- Dashboard init -->
    <script src="{{ url_for('static', filename='assets/js/pages/dashboard-Face Recognition.init.js') }}"></script>

    <!-- App js -->
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
    
     <!--
    <script>
      $(document).ready(function () {
        $("#takeAttendanceBtn").click(function () {
          $("#loading").show(); // Show loading indicator
          $.ajax({
            type: "POST",
            url: "/start",
            data: $("#attendanceForm").serialize(),
            beforeSend: function () {
              console.log("Before sending AJAX request");
            },
            success: function (response) {
              console.log("AJAX request successful");
              console.log(response); // Log the response
              $("#loading").hide(); // Hide loading indicator after processing
              // Handle response if needed
            },
            error: function (xhr, status, error) {
              console.log("AJAX request error");
              console.log(xhr.responseText);
              $("#loading").hide(); // Hide loading indicator after processing
              // Handle error if needed
            },
            complete: function () {
              console.log("AJAX request complete");
            },
          });
        });
      });
    </script>

     -->

  </body>
</html>
