<header id="page-topbar">
    <div class="layout-width">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box horizontal-logo">
            <a href="index.html" class="logo logo-dark">
              <span class="logo-sm">
                <img
                  src="{{ url_for('static', filename='assets/images/logo-sm.png') }}"
                  alt=""
                  height="22"
                />
              </span>
              <span class="logo-lg">
                <img
                  src="{{ url_for('static', filename='assets/images/logo-dark.png') }}"
                  alt=""
                  height="17"
                />
              </span>
            </a>

            <a href="index.html" class="logo logo-light">
              <span class="logo-sm">
                <img
                  src="{{ url_for('static', filename='assets/images/logo-sm.png') }}"
                  alt=""
                  height="22"
                />
              </span>
              <span class="logo-lg">
                <img
                  src="{{ url_for('static', filename='assets/images/logo-light.png') }}"
                  alt=""
                  height="17"
                />
              </span>
            </a>
          </div>

          <button
            type="button"
            class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none"
            id="topnav-hamburger-icon"
          >
            <span class="hamburger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>

        
          
        </div>

        

          <div class="dropdown ms-sm-3 header-item topbar-user">
            
        

            <button
              type="button"
              class="btn material-shadow-none"
              id="page-header-user-dropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="d-flex align-items-center">
                
                <span class="text-start ms-xl-2">
                  <span
                    class="d-none d-xl-inline-block ms-1 fw-medium user-name-text"
                    >{{ username }}</span
                  >
                  <span
                    class="d-none d-xl-block ms-1 fs-12 user-name-sub-text"
                    >Welcome</span
                  >
                </span>
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <h6 class="dropdown-header">Welcome {{username}}!</h6>
              
              <a class="dropdown-item" href="/logout"
                ><i
                  class="mdi mdi-logout text-muted fs-16 align-middle me-1"
                ></i>
                <span class="align-middle" data-key="t-logout"
                  >Logout</span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
      <!-- Dark Logo-->
      <a href="index.html" class="logo logo-dark">
        <span class="logo-sm">
          <img src="{{ url_for('static', filename='assets/images/logo-sm.png') }}" alt="" height="22" />
        </span>
        <span class="logo-lg">
          <img src="{{ url_for('static', filename='assets/images/logo-dark.png') }}" alt="" height="17" />
        </span>
      </a>
      <!-- Light Logo-->
      <a href="/" class="logo logo-light">
        <span class="logo-sm">
          <img src="{{ url_for('static', filename='assets/images/logo-sm.png') }}" alt="" height="22" />
        </span>
        <span class="logo-lg">
          <img src="{{ url_for('static', filename='assets/images/upsa.png') }}" alt="" height="80" />
        </span>
      </a>
      <button
        type="button"
        class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
        id="vertical-hover"
      >
        <i class="ri-record-circle-line"></i>
      </button>
    </div>


    

    <div class="dropdown sidebar-user m-1 rounded">
      <button
        type="button"
        class="btn material-shadow-none"
        id="page-header-user-dropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="d-flex align-items-center gap-2">
          <img
            class="rounded header-profile-user"
            src="{{ url_for('static', filename='assets/images/users/avatar-1.jpg') }}"
            alt="Header Avatar"
          />
          <span class="text-start">
            <span class="d-block fw-medium sidebar-user-name-text"
              >{{username}}</span
            >
            <span class="d-block fs-14 sidebar-user-name-sub-text"
              ><i
                class="ri ri-circle-fill fs-10 text-success align-baseline"
              ></i>
              <span class="align-middle">Online</span></span
            >
          </span>
        </span>
      </button>
      
      <div class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <h6 class="dropdown-header">Welcome {{username}}!</h6>
        
        <a class="dropdown-item" href="auth-logout-basic.html"
          ><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i>
          <span class="align-middle" data-key="t-logout">Logout</span></a
        >
      </div>
    </div>