<div id="scrollbar">
    <div class="container-fluid">
      <div id="two-column-menu"></div>

      <ul class="navbar-nav" id="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link menu-link" href="/">
              <i class="ri-honour-line"></i> <span data-key="t-widgets">Dashboard</span>
          </a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu-link" href="/add-course">
            <i class="ri-honour-line"></i> <span data-key="t-widgets">Add Course</span>
        </a>
    </li>

    <li class="nav-item">
      <a class="nav-link menu-link" href="/courses">
          <i class="ri-honour-line"></i> <span data-key="t-widgets">Courses</span>
      </a>
  </li>

    </ul>
      

      
    </div>  
  
  </div>

  <div class="sidebar-background"></div>
</div>