<!DOCTYPE html>
<html
  lang="en"
  data-layout="vertical"
  data-topbar="light"
  data-sidebar="dark"
  data-sidebar-size="lg"
  data-sidebar-image="none"
  data-preloader="disable"
  data-theme="default"
  data-theme-colors="default"
>
  <head>
    <meta charset="utf-8" />
    <title>Face Recognition | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
    />

    <!-- plugin css -->
    <link
      href="{{ url_for('static', filename='assets/libs/jsvectormap/css/jsvectormap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Layout config Js -->
    <script src="assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link
      href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link
      href="{{ url_for('static', filename='assets/css/icons.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App Css-->
    <link
      href="{{ url_for('static', filename='assets/css/app.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- custom Css-->
    <link
      href="{{ url_for('static', filename='assets/css/custom.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- Begin page -->
    <div id="layout-wrapper">

      {%  include 'navbar.html' %}
      {%  include 'sidebar.html' %}


     
      <div class="vertical-overlay"></div>

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent"
                >
                  <h4 class="mb-sm-0">Face Recognition</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Dashboards</a>
                      </li>
                      <li class="breadcrumb-item active">Face Recognition</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- end page title -->

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                <div class="alert alert-{{ category }} alert-dismissible alert-label-icon rounded-label fade show material-shadow" role="alert">
                  <i class="ri-notification-off-line label-icon"></i><strong>{{ category }}</strong> - {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                   
                {% endfor %}
            {% endif %}
        {% endwith %}

            <div class="row">
              <div class="col-xxl-12">
                <div class="d-flex flex-column h-100">
                  <div class="row h-100">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="row align-items-end">
                            <div class="col-sm-8">
                              <div class="p-3">
                                <p class="fs-16 lh-base">
                                  {{totalreg}} <span class="fw-semibold"
                                    > Students </span
                                  >Registered
                                  <i class="mdi mdi-arrow-right"></i>
                                </p>
                               <div class="mt-3">
    <a  href="/" class="btn btn-success">Dashboard</a>
   <!--  <a id="send-email" href="#" class="btn btn-success">Send Logout Emails</a>-->
</div> 


                                
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="px-3">
                                <img
                                  src="{{ url_for('static', filename='assets/images/user-illustarator-2.png') }}"
                                  class="img-fluid"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end card-body-->
                      </div>
                    </div>
                    <!-- end col-->
                  </div>
                  <!-- end row-->


                  <div class="row">
                    

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">All Registered Students</h4>
                                
                            </div>

                            <div class="card-body">

                                <!-- Table Foot -->
<table class="table table-nowrap">
    <thead class="table-light ">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

      {% for id, name, email in students %}
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ id }}</td>
          <td>{{ name  }}</td>
          <td>{{ email }}</td>

          <a>
            
            <td>

                
<a href="/edit_student?id={{ id }}&name={{ name }}&email={{ email }}" class="btn btn-soft-secondary waves-effect waves-light material-shadow-none">Edit</a>
             
            </td>
            </a>
          <a><td>

                <a href="/delete_student?id={{ id }}"class="btn btn-soft-danger waves-effect waves-light material-shadow-none">Delete</a>
              
            </td></a>
        </tr>
          

      </tr>
      {% endfor %}

      </tbody>
   
</table>
                                
                                <div class="d-none code-view">
                                   
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->

                </div>
                </div>
              </div>
              <!-- end col-->
            </div>
            <!-- end row-->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {%  include 'footer.html' %}
        
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>

    <!-- apexcharts -->
    <script src="{{ url_for('static', filename='assets/libs/apexcharts/apexcharts.min.js') }}"></script>

    <!-- Vector map-->
    <script src="{{ url_for('static', filename='assets/libs/jsvectormap/js/jsvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/jsvectormap/maps/world-merc.js') }}"></script>

    <!-- Dashboard init -->
    <script src="{{ url_for('static', filename='assets/js/pages/dashboard-Face Recognition.init.js') }}"></script>

    <!-- App js -->
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/mine.js') }}"></script>


  </body>

</html>
